body {
    background: #BDBDBD;
}

#b {
    margin: 5% auto;
    padding: 2%;
    width: 1350px;
    height: 640px;
    display: block;
    text-align: center;
    background: #FFFFFF;
}

#inner_form {
    height: 590px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#form {
    float: left;
    height: 644px;
    width: 780px;
}

#image_div {
    float: right;
    border: black 1px solid;
    width: 480px;
    height: 640px;
}

#image {
    width: 100%;
}